html,
body {
  overflow-x: hidden;
  font-family: 'Unbounded', cursive;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: $black;
  ::selection {
    background: rgba(255, 255, 255, 0.2);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}




