.toast {
  font-size: 16px !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  max-width: 480px !important;
  height: max-content !important;
  width: 480px !important;
  &-header {
    background-color: transparent !important;
    border-bottom: none !important;
    height: 0 !important;
    padding: 0 !important;
    .close {
      text-shadow: 0 0 0 transparent !important;
      color: transparent !important;
      opacity: 1 !important;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background: $white;
        top: 30px;
        right: 25px;
      }
      &:before {transform: rotate(45deg);}
      &:after {transform: rotate(-45deg);}
    }
  }
  &-body {
    font-weight: 400 !important;
    width: 400px !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.02em !important;
    text-transform: uppercase !important;
    color: $white !important;
    padding: 20px 30px !important;
    //&::after {
    //  content: 'GET STARTED >>>>>';
    //  position: absolute;
    //  bottom: 15px;
    //  left: 30px;
    //  font-weight: 700;
    //  font-size: 16px;
    //  line-height: 24px;
    //  letter-spacing: 0.15em;
    //}
  }
}

.b-toast-handle .toast {
  background-color: rgba(245, 190, 68, 0.4) !important;
  backdrop-filter: blur(15px) !important;
}

.b-toaster-slot {
  overflow: hidden;
}

.b-toaster.b-toaster-top-right {
  margin: 0 auto;
  top: 15px !important;
  left: 0.5% !important;
}

.b-toaster.b-toaster-top-right .b-toaster-slot, .b-toaster.b-toaster-top-left .b-toaster-slot, .b-toaster.b-toaster-top-center .b-toaster-slot, .b-toaster.b-toaster-top-full .b-toaster-slot, .b-toaster.b-toaster-bottom-right .b-toaster-slot, .b-toaster.b-toaster-bottom-left .b-toaster-slot, .b-toaster.b-toaster-bottom-center .b-toaster-slot, .b-toaster.b-toaster-bottom-full .b-toaster-slot {
  max-width: 480px !important;
}
